<!DOCTYPE html>
<html>
  <head>
    <title>Simple Group Chat on Node.js</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        .device { text-align:left; margin:0 auto; margin-bottom:25px; padding:10px; background:#fff; height:270px; width:430px; border:1px solid #ACD8F0; overflow:auto; }
        form { background: #fff; padding: 3px; position: relative; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
        form button { width: 12%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
        #device-messages { list-style-type: none; margin: 0; padding: 0; overflow: scroll; }
        #device-messages li { padding: 5px 10px; }
        #device-messages li:nth-child(odd) { background: #eee; }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>

    <div class="device">
        <ul id="driver-messages"><li>Driver Output.</li></ul>
        <form action="/" method="POST" id="chatForm">
        <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button>Send</button>
        </form>
    </div>

    <div class="device">
        <ul id="device-messages">
            <li>Device Output.</li>
        </ul>
    </div>

    <script>
            var socket = io.connect('http://localhost:8081');
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('driver_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });

            // append the driver text message
            socket.on('driver_message', function(msg){
                $('#driver-messages').append($('<li>').html(msg));
            });

            socket.on('device_message', function(msg){
                $('#device-messages').append($('<li>').html(msg));
            });

    </script>
  </body>
</html>